{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Créer un article ici 👻: </h1>

    {{ form_start(formArticle) }}
    {{ form_row(formArticle.title, {'attr' : {'placeholder' : "Titre de l'article"}}) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.content, {'attr' : {'placeholder' : "Contenu de l'article"}}) }}
    {{ form_row(formArticle.image) }}

    {% if app.user %}
    <button type="submit" class="btn btn-success">
    {% if editMode %}
        Enregistrer
    {% else %}
        Ajouter l'article
    {% endif %}
    </button>
    {% else %}
        <h2> Veuillez vous <a href="{{ path('security_login') }}"> connecter </a> pour créer un article 😉 </h2>
    {% endif %}
    {{ form_end(formArticle) }}
    
{% endblock %}