{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
     {% for article in articles %}
          <article>
               <h2>{{article.title}}</h2>
               <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{article.category.title }}</div>
                <div class="content">
                     {% if article.image %}
                     <img class="img-fluid" src="{{ asset('uploads/article/image/' ~ article.image) }}" alt="">
                     {% endif %}
                     {{ article.content | raw }}
                     <a href="{{ path('blog_show', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
          </article>

          <section id="commentaires">
          {% for comment in article.comments %}
               <div class="comment">
                    <div class="row">
                         <div class="col-3">
                              {{comment.author}} (<small>{{comment.createdAt | date('d:m:Y à H:i')}}</small>)
                         </div>
                         <div class="col">
                              {{comment.content | raw }}
                         </div>
                         <div class="col">
					{% if article.image %}
					<img class="img-fluid" src="{{asset('uploads/article/image/' ~ article.image) }}">
				     {% endif %}
                         </div>
                    </div>
               </div>
          {% endfor %}
          </section>
     {% endfor %}
</section>
{% endblock %}
